body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
  }

  main {
    flex: 1 0 auto;
  }

#logo-container {
    color: black;
}
.nav-bar-style{
    color: black
}

.parallax-container {
    height: 350px;
    border: 2px solid black;
  }

  .header {
      color: white;
  }
  
  #navigation {
      height: 450px;
      text-align: center;
      margin-top: 50px;
      /* color: rgb(95, 95, 95); */
  }

  /* #nav-images {
      /* border: 2px solid black; */
  /* } 

  /* .brand-logo {
    font-size: 100px;
  } */

  .nav-link {
    color: #546e7a;
    
  }

  a {
    text-decoration: none;
    color: #546e7a;
  }

  #intro {
      font-size: 20px;
  }

  #portfolio {
    height: 100%;
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}

  .portfolio-item {
    margin-top: 30px;  
  }  

  #resume {
      margin-bottom: 500px;
  }

  #profile-pic {
      margin-right: 20px;
      margin-top: 20px;
  }

  #bio {
      margin-bottom: 100px;
  }

  #contact-icons {
      margin-left: 10px;
      margin-right: 10px;
  }

  #contact {
    margin-bottom: 200px;
  }

  #footer-icons {
      color: white;
      margin-left: 6px;
      margin-right: 6px;
  }
  /* .page-footer { */
      /* margin-top: 200px; */
  /* } */
  
  @media screen and (max-width: 640px) {
    .brand-logo {
        height: 10px;
    }
  }