body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Inconsolata', monospace;
  }

  main {
    flex: 1 0 auto;
  }

#logo-container {
    color: black;
}
.nav-bar-style{
    color: black
}

.parallax-container {
    height: 350px;
    border: 2px solid black;
  }

  .header {
      color: white;
  }
  
  #navigation {
      height: 450px;
      text-align: center;
      /* color: rgb(95, 95, 95); */
  }

  #nav-images {
      border: 2px solid black;
  }

  #navigation {
      margin-top: 50px;
  }

  .brand-logo {
      /* margin-left:20px; */
  }

  .nav-link {
    color: #546e7a;
    margin-right: 20px;
  }

  #intro {
      font-size: 20px;
  }

  